AddCharset UTF-8 .html
AddCharset UFT-8 .php

RewriteEngine On 
#RewriteCond %{HTTPS} off 
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Forward all requests to index.php
RewriteRule ^(.*)$ index.php
