@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(68,68,68);
  font-size: 2rem;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.login {
  color: darkgrey;
}

h1 {
  font-size: 2.2rem;
}

.bgform {
  background: white;
  display: flex;
  justify-content: center;
}

.bigform-wrapper {
  display: flex;
  width: 100%;
  color: white;
  background: url("../svg/bg-bigform.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* form-reset */
form,
fieldset,
input {
  /* iOS fix */
  -webkit-appearance: none;
  border-radius: 0;
  /* iOS fix end */
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.bigform-left {
  display: none;
}

.bigform-right {
  height: 100%;
  width: 100%;
  padding: 0 18px 0 18px;
  display: flex;
  flex-direction: column;
}

.bigform {
  margin-top: 12.5vh;
}

.bigform form {
  font-size: 1rem;
}

.bigform-message {
  padding-left: 6px;
  font-size: 1rem;
}

.bigform form fieldset {
  border: none;
}

.bigform form fieldset input {
  width: 100%;
  height: 48px;
  font-size: 1rem;
  color: white;
  margin-bottom: 28px;
  background: none;
  border-bottom: 1px solid white;
}

.bigform form input::placeholder {
  font-size: 1rem;
  color: rgb(206, 70, 0);
}

.bigform form fieldset input[type="submit"] {
  -webkit-appearance: none;
  margin-top: 28px;
  height: 48px;
  color: white;
  font-size: 1rem;
  border: none;
  background: rgb(236, 90, 0);
}

.bigform form fieldset input[type="submit"]:hover {
  background: rgb(219, 84, 0);
  cursor: pointer;
}

@media screen and (min-width: 828px) {
  .bgform {
    align-items: center;
  }

  .bigform {
    height: 61.8%;
    display: flex;
    align-items: flex-end;
  }

  .form-wrapper {
    width: 100%;
  }

  .bigform-message {
    height: 38.2%;
  }

  .bigform-wrapper {
    height: 80vh;
    max-height: 742px;
    width: 80vw;
    max-width: 1200px;
    border-radius: 26px;
    box-shadow: 18px 18px 96px rgb(142, 142, 142);
  }

  .bigform-left {
    display: initial;
    width: 61.8%;
  }

  .bigform-right {
    width: 38.2%;
    padding: 0;
    border-radius: 0 26px 26px 0;
    justify-content: center;
  }

  .bigform form fieldset input[type="submit"] {
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: flex-start;
    padding-left: 12px;
  }
}
